PORT=8080

# DB Configuration
DB_HOST=localhost    # Replace with your MySQL host, e.g., localhost or your DB IP
DB_USER=root         # Replace with your MySQL username
DB_PASS=yourpassword # Replace with your MySQL password
DB_DATABASE=yourdbname # Replace with your MySQL database name
DB_DIALECT=mysql

# Authentication
JWT_SECRET=yoursecret # Replace with your key

REDIS_SESSION_SECRET=yoursecret

# Environment info
NODE_ENV=development

# Logging configuration
LOG_PATH=logs/app.log

# Google Cloud Config
GOOGLE_APPLICATION_CREDENTIALS=./secret/credentials.json
GCS_BUCKET_NAME=yourbucketname
FILE_SIZE_LIMIT=1 # MB